name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24.4'
        cache: true

    - name: Install Mage
      run: go install github.com/magefile/mage@latest

    - name: Download dependencies
      run: mage tidy

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: latest

    - name: Run tests
      run: mage test

    - name: Build
      run: mage build
